################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cort_proto/v15/Browse.VC.opendb
/.vs/cort_proto/v15/Browse.VC.db
/.vs/cort_proto/v15/.suo
*.out
*.o
*.so
*.a
*.zip
